table{
    border: 1px solid black;
    background-color: burlywood;
  text-align: center;
  border-radius: 10px;
 margin: auto;
 
}
tr{
    border: 1px solid black;
}
td{
    border: 1px solid black;
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
}
button{
    color: rgb(109, 0, 0);
    background-color: antiquewhite;
    border-radius: 20px;
    margin-top: 40px;
    text-align: center;
}